/* =====================
   RESET
===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =====================
   BASE
===================== */
body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
    color: #1e293b;
    scroll-behavior: smooth;
}

h1, h2, h3, .logo {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
}

/* =====================
   TOPBAR
===================== */
.topbar {
    background: #0d47a1;
    color: white;
    text-align: right;
    padding: 8px 40px;
    font-size: 14px;
}

/* =====================
   NAVBAR PREMIUM
===================== */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;

    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(10px);
    transition: all 0.4s cubic-bezier(.4,0,.2,1);
}

.navbar.scrolled {
    background: rgba(13,71,161,0.95);
    padding: 15px 80px;
}

.navbar.scrolled .logo,
.navbar.scrolled nav a {
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #0d47a1;
    transition: 0.3s;
}

.navbar nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #1e293b;
    font-weight: 500;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #0d47a1;
}

/* =====================
   HERO
===================== */
.hero {
    height: 100vh;
    padding: 120px 100px 0 100px;
    background: linear-gradient(rgba(0,0,0,0.85), rgba(13,71,161,0.85)),
    url("../static/hero.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.hero-content {
    max-width: 550px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 25px;
}

.hero-image img {
    height: 500px;
    object-fit: contain;
}

/* =====================
   BOTONES
===================== */
.btn-primary,
.btn-secondary {
    padding: 14px 35px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

.btn-primary {
    background: white;
    color: #0d47a1;
}

.btn-primary:hover {
    background: #e3f2fd;
    transform: translateY(-3px);
}

.btn-secondary {
    background: #0d47a1;
    color: white;
}

.btn-secondary:hover {
    background: #e3f2fd;
    color: #0d47a1;
    transform: translateY(-3px);
}

/* =====================
   SPLIT SECTION
===================== */
.section-split {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 100px;
    gap: 60px;
}

.split-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
}

.split-text {
    max-width: 600px;
}

.split-text h2 {
    font-size: 36px;
    color: #0d47a1;
    margin-bottom: 20px;
}

.split-text p {
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 25px;
    text-align: justify;
    hyphens: auto;
}

/* =====================
   INSPIRACIÓN
===================== */
.section-inspiracion {
    padding: 140px 100px;
    background: #f8fafc;
}

.inspiracion-container {
    display: flex;
    align-items: center;
    gap: 80px;
}

.inspiracion-text h2 {
    font-size: 40px;
    margin-bottom: 25px;
}

.inspiracion-text p {
    font-size: 18px;
    text-align: justify;
    line-height: 1.9;
    margin-bottom: 15px;
    hyphens: auto;
}

.inspiracion-image img {
    max-width: 450px;
    border-radius: 20px;
    box-shadow: 0 30px 60px rgba(0,0,0,0.12);
}

/* =====================
   FEATURES
===================== */
.feature-hero h2 {
    font-size: 60px;   /* aquí cambias el tamaño */
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
}

.feature-hero {
    padding: 140px 20px 80px;
    text-align: center;
}

.feature-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 140px 100px;
    gap: 80px;
}

.feature-section.reverse {
    flex-direction: row-reverse;
}

.feature-number {
    font-size: 80px;
    font-weight: 700;
    color: rgba(13,71,161,0.08);
    margin-bottom: 20px;
}

.feature-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #0d47a1;
}

.feature-text p {
    font-size: 18px;
    line-height: 1.8;
}

.feature-image img {
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 30px 60px rgba(0,0,0,0.12);
    transition: 0.6s;
}

.feature-image img:hover {
    transform: scale(1.04);
}

/* =====================
   FUNDADORES INTERACTIVO
===================== */
.section-team {
    padding: 120px 20px;
    background: #f4f7fb;
    border-top: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    text-align: center;
}

.team-title {
    font-size: 36px;
    color: #0d47a1;
    margin-bottom: 70px;
}

.team-grid {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.team-card {
    width: 320px;
    height: 420px;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.team-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
    transition: transform 0.4s ease;
}

.card-info {
    position: absolute;
    inset: 0;
    background: rgba(13,71,161,0.95);
    color: white;
    padding: 40px 25px;
    border-radius: 14px;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-between;
}

.team-card.active img {
    transform: scale(1.05);
}

.team-card.active .card-info {
    opacity: 1;
    transform: translateY(0);
}

.team-button {
    margin-top: 70px;
}

/* =====================
   FOOTER
===================== */
.footer {
    background: #0d47a1;
    color: white;
    text-align: center;
    padding: 40px;
}

/* =====================
   RESPONSIVE
===================== */
@media (max-width: 900px) {

    .hero,
    .section-split,
    .feature-section,
    .inspiracion-container {
        flex-direction: column;
        text-align: center;
        padding: 80px 30px;
    }

    .navbar {
        padding: 15px 30px;
    }
}

.btn-secondary {
    display: inline-block;
    background-color: #0d47a1;
    color: #ffffff;
    padding: 14px 35px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    text-align: center;
}

.btn-secondary:hover {
    background-color: #1565c0;
    transform: translateY(-3px);
}

.gallery-button-container {
    margin-top: 50px;
    text-align: center;
}

.titulo .title h1 {
    animation: fadeUp 1s ease forwards;
    opacity: 0;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ============================= */
/* SECCIÓN TÍTULO */
/* ============================= */

.titulo {
    width: 100%;
    padding: 120px 20px 60px 20px;
    background-color: #f5f7fa;

    display: flex;
    justify-content: center;   /* centra horizontal */
    align-items: center;       /* centra vertical si das altura */
}

.title {
    width: 100%;
    text-align: center;        /* centra el texto */
}

.titulo h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #0d47a1;
    margin: 0 auto;            /* asegura centrado */
}
/*Hasta aquí el código CSS para la página de inicio, mañana seguimos broo!*/