<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre VOG</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='stayls.css') }}">
</head>
<body>
    <div class="container">
    <h1>Sobre VOG</h1>

    <div class="section">
    <h2>¿Qué es VOG?</h1>

    <p>
    VOG es un proyecto tecnológico diseñado para asistir a personas con discapacidad visual
    mediante herramientas innovadoras que mejoran la movilidad y la seguridad.
    </p>
    </div>

    <div class="section">
    <h2>Probema que resuelve</h1>

    <p>
    Las personas con discapacidad visual pueden enfrentar obstáculos y riesgos durante su desplazamiento.
    VOG busca reducir estos riesgos proporcionando apoyo e información para una navegación más segura.
    </p>
    </div>

    <div class="section">
    <h2>Objetivo del proyecto</h1>

    <p>
    Desarrollar una solución de asistencia que permita al usuario recibir orientación y alertas,
    mejorando su autonomía y confianza al desplazarse.
    </p>
    </div>

    <div class="section">
    <h2>Impacto esperado</h1>

    <p>
    VOG pretende contribuir a la inclusión y accesibilidad, ofreciendo un apoyo tecnológico
    que facilite la vida diaria de personas con discapacidad visual.
    </p>
    </div>


    <a href="/" class="btn">Volver al inicio</a>

</body>
</html>